.post {
  margin-top: 1vh;
  padding: 7px;
  background: white;
}

.post__header {
  display: flex;
  align-items: center;
  margin: auto 2vw;
}

.post__info {
  margin-left: 1vw;
}

.post__info > h4 {
  margin-top: 1vh;
  margin-bottom: -2.5vh;
}

.post__info > p {
  font-size: small;
  color: lightslategrey;
}

.post__message {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2.5vw;
}

.post__options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vw;
}
